In [1]:
#Dependency
import pandas as pd

#Included the two columns of interest: States and 2023 Total Estimated Sales
us_gun_sales = {
    'Province_State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 
                       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine','Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
                       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 
                       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
                       'West Virginia', 'Wisconsin', 'Wyoming'],

    '2023 Total Estimated Sales': ["487,077", "80,341", "407,288", "200,279", "1,043,421", "443,800", "120,044", "47,080", "4,351", "1,316,471", "418,452", 
                                   "23,528", "160,120", "504,452", "498,169", "82,795", "179,350", "288,877", "282,155", "118,297", "213,437", "136,398", "555,650", "309,425", 
                                   "227,199", "520,488", "134,008", "26,987", "118,998", "136,502", "175,711", "163,624", "337,814", "499,561", "66,933", 
                                   "583,314", "325,700", "446,556", "841,523", "28,555", "259,145", "72,303", "633,015", "1,347,589", "143,430", "46,518", "581,698", "489,551", 
                                   "163,057", "413,680", "65,102"]
}

#Convert to DataFrame
us_gun_sales_df = pd.DataFrame(us_gun_sales)

#Cleanse and convert the '2023 Total Estimated Sales' column to numeric values
us_gun_sales_df['2023 Total Estimated Sales'] = us_gun_sales_df['2023 Total Estimated Sales'].str.replace(',', '').str.replace('"', '').astype(int)

us_gun_sales_df

          Province_State  2023 Total Estimated Sales
0                Alabama                      487077
1                 Alaska                       80341
2                Arizona                      407288
3               Arkansas                      200279
4             California                     1043421
5               Colorado                      443800
6            Connecticut                      120044
7               Delaware                       47080
8   District of Columbia                        4351
9                Florida                     1316471
10               Georgia                      418452
11                Hawaii                       23528
12                 Idaho                      160120
13              Illinois                      504452
14               Indiana                      498169
15                  Iowa                       82795
16                Kansas                      179350
17              Kentucky                      288877
18             Louisiana                      282155
19                 Maine                      118297
20              Maryland                      213437
21         Massachusetts                      136398
22              Michigan                      555650
23             Minnesota                      309425
24           Mississippi                      227199
25              Missouri                      520488
26               Montana                      134008
27              Nebraska                       26987
28                Nevada                      118998
29         New Hampshire                      136502
30            New Jersey                      175711
31            New Mexico                      163624
32              New York                      337814
33        North Carolina                      499561
34          North Dakota                       66933
35                  Ohio                      583314
36              Oklahoma                      325700
37                Oregon                      446556
38          Pennsylvania                      841523
39          Rhode Island                       28555
40        South Carolina                      259145
41          South Dakota                       72303
42             Tennessee                      633015
43                 Texas                     1347589
44                  Utah                      143430
45               Vermont                       46518
46              Virginia                      581698
47            Washington                      489551
48         West Virginia                      163057
49             Wisconsin                      413680
50               Wyoming                       65102

In [2]:
#Export CSV file
us_gun_sales_df.to_csv('US_gun_sales_data.csv', index=False)

In [3]:
#Adding in a new column: Guns per Capita
us_population_df = pd.read_csv("US_population.csv", thousands=',')
# Drop null columns 3 to 7 
us_population_df = us_population_df.drop(us_population_df.columns[2:8], axis=1)
us_population_df

          Province_State  Population
0                Alabama     5108468
1                 Alaska      733406
2                Arizona     7431344
3               Arkansas     3067732
4             California    38965193
5               Colorado     5877610
6            Connecticut     3617176
7               Delaware     1031890
8   District of Columbia      678972
9                Florida    22610726
10               Georgia    11029227
11                Hawaii     1435138
12                 Idaho     1964726
13              Illinois    12549689
14               Indiana     6862199
15                  Iowa     3207004
16                Kansas     2940546
17              Kentucky     4526154
18             Louisiana     4573749
19                 Maine     1395722
20              Maryland     6180253
21         Massachusetts     7001399
22              Michigan    10037261
23             Minnesota     5737915
24           Mississippi     2939690
25              Missouri     6196156
26               Montana     1132812
27              Nebraska     1978379
28                Nevada     3194176
29         New Hampshire     1402054
30            New Jersey     9290841
31            New Mexico     2114371
32              New York    19571216
33        North Carolina    10835491
34          North Dakota      783926
35                  Ohio    11785935
36              Oklahoma     4053824
37                Oregon     4233358
38          Pennsylvania    12961683
39          Rhode Island     1095962
40        South Carolina     5373555
41          South Dakota      919318
42             Tennessee     7126489
43                 Texas    30503301
44                  Utah     3417734
45               Vermont      647464
46              Virginia     8715698
47            Washington     7812880
48         West Virginia     1770071
49             Wisconsin     5910955
50               Wyoming      584057

In [4]:
#use merge to combine dataframes by Province_State
us_population_and_gun_sales_df = pd.merge(us_gun_sales_df, us_population_df, on="Province_State")
us_population_and_gun_sales_df

          Province_State  2023 Total Estimated Sales  Population
0                Alabama                      487077     5108468
1                 Alaska                       80341      733406
2                Arizona                      407288     7431344
3               Arkansas                      200279     3067732
4             California                     1043421    38965193
5               Colorado                      443800     5877610
6            Connecticut                      120044     3617176
7               Delaware                       47080     1031890
8   District of Columbia                        4351      678972
9                Florida                     1316471    22610726
10               Georgia                      418452    11029227
11                Hawaii                       23528     1435138
12                 Idaho                      160120     1964726
13              Illinois                      504452    12549689
14               Indiana                      498169     6862199
15                  Iowa                       82795     3207004
16                Kansas                      179350     2940546
17              Kentucky                      288877     4526154
18             Louisiana                      282155     4573749
19                 Maine                      118297     1395722
20              Maryland                      213437     6180253
21         Massachusetts                      136398     7001399
22              Michigan                      555650    10037261
23             Minnesota                      309425     5737915
24           Mississippi                      227199     2939690
25              Missouri                      520488     6196156
26               Montana                      134008     1132812
27              Nebraska                       26987     1978379
28                Nevada                      118998     3194176
29         New Hampshire                      136502     1402054
30            New Jersey                      175711     9290841
31            New Mexico                      163624     2114371
32              New York                      337814    19571216
33        North Carolina                      499561    10835491
34          North Dakota                       66933      783926
35                  Ohio                      583314    11785935
36              Oklahoma                      325700     4053824
37                Oregon                      446556     4233358
38          Pennsylvania                      841523    12961683
39          Rhode Island                       28555     1095962
40        South Carolina                      259145     5373555
41          South Dakota                       72303      919318
42             Tennessee                      633015     7126489
43                 Texas                     1347589    30503301
44                  Utah                      143430     3417734
45               Vermont                       46518      647464
46              Virginia                      581698     8715698
47            Washington                      489551     7812880
48         West Virginia                      163057     1770071
49             Wisconsin                      413680     5910955
50               Wyoming                       65102      584057

In [15]:
# Dividing between guns sales over population and create new column: Guns per capita
us_population_and_gun_sales_df['Guns Per Capita'] = us_population_and_gun_sales_df['2023 Total Estimated Sales'] / us_population_and_gun_sales_df['Population']

# Formatting the 'Guns Per Capita' column as a percentage
us_population_and_gun_sales_df['Guns Per Capita'] = us_population_and_gun_sales_df['Guns Per Capita'].map('{:.2%}'.format)

# Removes % sign while converting the values to float for smooth merges in the final dataframe
us_population_and_gun_sales_df['Guns Per Capita'] = us_population_and_gun_sales_df['Guns Per Capita'].str.rstrip('%').astype('float').round(2)

# Remove "Population" column as it's unneeded
us_gun_sales_and_capita_df = us_population_and_gun_sales_df.drop(['Population'], axis='columns')

us_gun_sales_and_capita_df

          Province_State  2023 Total Estimated Sales  Guns Per Capita
0                Alabama                      487077             9.53
1                 Alaska                       80341            10.95
2                Arizona                      407288             5.48
3               Arkansas                      200279             6.53
4             California                     1043421             2.68
5               Colorado                      443800             7.55
6            Connecticut                      120044             3.32
7               Delaware                       47080             4.56
8   District of Columbia                        4351             0.64
9                Florida                     1316471             5.82
10               Georgia                      418452             3.79
11                Hawaii                       23528             1.64
12                 Idaho                      160120             8.15
13              Illinois                      504452             4.02
14               Indiana                      498169             7.26
15                  Iowa                       82795             2.58
16                Kansas                      179350             6.10
17              Kentucky                      288877             6.38
18             Louisiana                      282155             6.17
19                 Maine                      118297             8.48
20              Maryland                      213437             3.45
21         Massachusetts                      136398             1.95
22              Michigan                      555650             5.54
23             Minnesota                      309425             5.39
24           Mississippi                      227199             7.73
25              Missouri                      520488             8.40
26               Montana                      134008            11.83
27              Nebraska                       26987             1.36
28                Nevada                      118998             3.73
29         New Hampshire                      136502             9.74
30            New Jersey                      175711             1.89
31            New Mexico                      163624             7.74
32              New York                      337814             1.73
33        North Carolina                      499561             4.61
34          North Dakota                       66933             8.54
35                  Ohio                      583314             4.95
36              Oklahoma                      325700             8.03
37                Oregon                      446556            10.55
38          Pennsylvania                      841523             6.49
39          Rhode Island                       28555             2.61
40        South Carolina                      259145             4.82
41          South Dakota                       72303             7.86
42             Tennessee                      633015             8.88
43                 Texas                     1347589             4.42
44                  Utah                      143430             4.20
45               Vermont                       46518             7.18
46              Virginia                      581698             6.67
47            Washington                      489551             6.27
48         West Virginia                      163057             9.21
49             Wisconsin                      413680             7.00
50               Wyoming                       65102            11.15