Cleaning US Population

In [9]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv'  
df_pop = pd.read_csv(file_path)

In [10]:
df_guns.head()

        State  Population
0     Alabama   5,108,468
1      Alaska     733,406
2     Arizona   7,431,344
3    Arkansas   3,067,732
4  California  38,965,193

In [18]:
# Convert the Population column from float to int
df_pop['Population'] = df_pop['Population'].astype('int64')

In [19]:
# Save the cleaned dataframe to the existing CSV file
df_pop.to_csv(file_path, index=False)

print("CSV file has been cleaned, Population column converted to float64, and saved to the existing file:", file_path)

CSV file has been cleaned, Population column converted to float64, and saved to the existing file: /Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv

In [20]:
df_pop.dtypes

State         object
Population     int64
dtype: object

Cleaning Guns CSV

In [3]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Final_Data/clean_csv_4_db/clean_guns.csv'  
df_guns = pd.read_csv(file_path)

In [4]:
df_guns.dtypes

State                 object
Lat                  float64
Long_                float64
Gun Sales in 2023      int64
Guns Per Capita      float64
dtype: object

In [5]:
df_guns.head(
    
)

        State      Lat     Long_  Gun Sales in 2023  Guns Per Capita
0     Alabama  32.3182  -86.9023             487077             9.53
1      Alaska  61.3707 -152.4044              80341            10.95
2     Arizona  33.7298 -111.4312             407288             5.48
3    Arkansas  34.9697  -92.3731             200279             6.53
4  California  36.1162 -119.6816            1043421             2.68

In [8]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("clean_guns.csv")

# Rename the column
df.rename(columns={'2023 Total Estimated Sales': 'Gun Sales in 2023'}, inplace=True)

# Save the updated DataFrame back to the CSV file
df.to_csv("clean_guns.csv", index=False)

In [6]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("clean_guns.csv")

# Convert "Gun Sales in 2023" column from int to float
df['Gun Sales in 2023'] = df['Gun Sales in 2023'].astype(float)

# Save the updated DataFrame back to the CSV file
df.to_csv("clean_guns.csv", index=False)

Military Base CSV

In [8]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Final_Data/clean_csv_4_db/clean_military_bases.csv'  
df_military = pd.read_csv(file_path)

In [20]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Final_Data/clean_csv_4_db/clean_military_bases.csv'  
df_military = pd.read_csv(file_path)

# Standardize column names to lower case
df_military.columns = df_military.columns.str.lower()

# Change all 'object' columns to 'str', except 'state'
for column in df_military.select_dtypes(include=['object']).columns:
    if column != 'state':
        df_military[column] = df_military[column].astype(str)

# Save the cleaned DataFrame back to the CSV file
df_military.to_csv("clean_military_bases.csv", index=False)

print("CSV file cleaned and saved.")

CSV file cleaned and saved.

In [25]:
import pandas as pd

# Path to your CSV file
csv_path = "clean_military_bases.csv"

# Load the CSV file
df_mil = pd.read_csv(csv_path)

# Remove the 'joint_base' column
df_mil.drop(columns=['joint base'], inplace=True)

# Save the updated DataFrame back to the CSV file
df_mil.to_csv(csv_path, index=False)

print("CSV file updated: 'joint_base' column removed.")

KeyError: "['joint base'] not found in axis"

In [26]:
df_mil.dtypes

country        object
state          object
lat           float64
long          float64
component      object
site name      object
oper stat      object
perimeter     float64
area          float64
shape_leng    float64
shape_area    float64
dtype: object

In [27]:
df_mil.head()

,country,state,lat,long,component,site name,oper stat,perimeter,area,shape_leng,shape_area
0,United States,Alabama,31.230999,-85.650635,Army Active,Allen Stagefield AL,Active,1.641383,0.176575,3170.633316,6.274240e+05
1,United States,Alabama,31.815733,-85.649799,Army Active,Louisville Stagefield AL,Active,1.723380,0.162357,3357.487241,5.840968e+05
2,United States,New Mexico,33.159464,-106.425696,Army Active,White Sands Missile Range NM,Active,332.133189,3548.570164,648984.100400,1.315079e+10
3,United States,Virginia,37.013020,-76.304376,Army Active,Fort Monroe,Inactive,10.209688,0.877233,21033.880110,3.570033e+06
4,United States,Hawaii,21.386628,-157.905641,MC Active,MCB Camp Smith,Active,2.931885,0.331246,5098.778436,9.944004e+05

In [13]:
# Rename the column
df_military.rename(columns={'State Terr': 'State'}, inplace=True)

# Change all 'object' columns to 'str', except 'state'
for column in df_military.select_dtypes(include=['object']).columns:
    if column != 'state':
        df_military[column] = df_military[column].astype(str)
# Save the DataFrame back to the same CSV file
df_military.to_csv(file_path, index=False)


print("Column renamed and file saved successfully.")

Column renamed and file saved successfully.

In [15]:
df_military.dtypes

country        object
state          object
lat           float64
long          float64
component      object
site name      object
joint base     object
oper stat      object
perimeter     float64
area          float64
shape_leng    float64
shape_area    float64
dtype: object

Covid Cases

In [1]:
import pandas as pd

In [2]:
df_covid = pd.read_csv('clean_covid_cases.csv')

In [4]:
df_covid.dtypes

State          object
Lat           float64
Long_         float64
2020-04-01      int64
2020-05-01      int64
2020-06-01      int64
2020-07-01      int64
2020-08-01      int64
2020-09-01      int64
2020-10-01      int64
2020-11-01      int64
2020-12-01      int64
2021-01-01      int64
2021-02-01      int64
2021-03-01      int64
2021-04-01      int64
2021-05-01      int64
2021-06-01      int64
2021-07-01      int64
2021-08-01      int64
2021-09-01      int64
2021-10-01      int64
2021-11-01      int64
2021-12-01      int64
2022-01-01      int64
2022-02-01      int64
2022-03-01      int64
2022-04-01      int64
2022-05-01      int64
2022-06-01      int64
2022-07-01      int64
2022-08-01      int64
2022-09-01      int64
2022-10-01      int64
2022-11-01      int64
2022-12-01      int64
2023-01-01      int64
2023-02-01      int64
2023-03-01      int64
dtype: object

In [4]:
import pandas as pd

# Load the CSV file
df_covid = pd.read_csv("clean_covid_cases.csv")

# List of columns to convert from int64 to float64
columns_to_convert = [
    '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
    '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01',
    '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01', '2021-06-01',
    '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01',
    '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
    '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
    '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01',
    '2023-03-01'
]

# Convert specified columns to float64
df_covid[columns_to_convert] = df_covid[columns_to_convert].astype('float64')

# Save the updated DataFrame back to a CSV file
df_covid.to_csv("clean_covid_cases.csv", index=False)

In [5]:
df_covid.dtypes

State          object
Lat           float64
Long_         float64
2020-04-01    float64
2020-05-01    float64
2020-06-01    float64
2020-07-01    float64
2020-08-01    float64
2020-09-01    float64
2020-10-01    float64
2020-11-01    float64
2020-12-01    float64
2021-01-01    float64
2021-02-01    float64
2021-03-01    float64
2021-04-01    float64
2021-05-01    float64
2021-06-01    float64
2021-07-01    float64
2021-08-01    float64
2021-09-01    float64
2021-10-01    float64
2021-11-01    float64
2021-12-01    float64
2022-01-01    float64
2022-02-01    float64
2022-03-01    float64
2022-04-01    float64
2022-05-01    float64
2022-06-01    float64
2022-07-01    float64
2022-08-01    float64
2022-09-01    float64
2022-10-01    float64
2022-11-01    float64
2022-12-01    float64
2023-01-01    float64
2023-02-01    float64
2023-03-01    float64
dtype: object

In [7]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("clean_covid_cases.csv")

# Define a mapping from the old column names to the new ones
new_column_names = {
    '2020-04-01': 'April_2020', '2020-05-01': 'May_2020',
    '2020-06-01': 'June_2020', '2020-07-01': 'July_2020',
    '2020-08-01': 'August_2020', '2020-09-01': 'September_2020',
    '2020-10-01': 'October_2020', '2020-11-01': 'November_2020',
    '2020-12-01': 'December_2020', '2021-01-01': 'January_2021',
    '2021-02-01': 'February_2021', '2021-03-01': 'March_2021',
    '2021-04-01': 'April_2021', '2021-05-01': 'May_2021',
    '2021-06-01': 'June_2021', '2021-07-01': 'July_2021',
    '2021-08-01': 'August_2021', '2021-09-01': 'September_2021',
    '2021-10-01': 'October_2021', '2021-11-01': 'November_2021',
    '2021-12-01': 'December_2021', '2022-01-01': 'January_2022',
    '2022-02-01': 'February_2022', '2022-03-01': 'March_2022',
    '2022-04-01': 'April_2022', '2022-05-01': 'May_2022',
    '2022-06-01': 'June_2022', '2022-07-01': 'July_2022',
    '2022-08-01': 'August_2022', '2022-09-01': 'September_2022',
    '2022-10-01': 'October_2022', '2022-11-01': 'November_2022',
    '2022-12-01': 'December_2022', '2023-01-01': 'January_2023',
    '2023-02-01': 'February_2023', '2023-03-01': 'March_2023'
}

# Rename the columns
df.rename(columns=new_column_names, inplace=True)

# Save the updated DataFrame back to a CSV file
df.to_csv("clean_covid_cases.csv", index=False)