Cleaning US Population

In [9]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv'  
df_pop = pd.read_csv(file_path)

In [10]:
df_guns.head()

        State  Population
0     Alabama   5,108,468
1      Alaska     733,406
2     Arizona   7,431,344
3    Arkansas   3,067,732
4  California  38,965,193

In [18]:
# Convert the Population column from float to int
df_pop['Population'] = df_pop['Population'].astype('int64')

In [19]:
# Save the cleaned dataframe to the existing CSV file
df_pop.to_csv(file_path, index=False)

print("CSV file has been cleaned, Population column converted to float64, and saved to the existing file:", file_path)

CSV file has been cleaned, Population column converted to float64, and saved to the existing file: /Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv

In [20]:
df_pop.dtypes

State         object
Population     int64
dtype: object

Cleaning Guns CSV

In [21]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_guns.csv'  
df_guns = pd.read_csv(file_path)

In [22]:
df_guns.dtypes

State                          object
Lat                           float64
Long_                         float64
2023 Total Estimated Sales      int64
Guns Per Capita               float64
dtype: object

In [23]:
df_guns.head(
    
)

        State      Lat     Long_  2023 Total Estimated Sales  Guns Per Capita
0     Alabama  32.3182  -86.9023                      487077             9.53
1      Alaska  61.3707 -152.4044                       80341            10.95
2     Arizona  33.7298 -111.4312                      407288             5.48
3    Arkansas  34.9697  -92.3731                      200279             6.53
4  California  36.1162 -119.6816                     1043421             2.68