Cleaning US Population

In [9]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv'  
df_pop = pd.read_csv(file_path)

In [10]:
df_guns.head()

        State  Population
0     Alabama   5,108,468
1      Alaska     733,406
2     Arizona   7,431,344
3    Arkansas   3,067,732
4  California  38,965,193

In [18]:
# Convert the Population column from float to int
df_pop['Population'] = df_pop['Population'].astype('int64')

In [19]:
# Save the cleaned dataframe to the existing CSV file
df_pop.to_csv(file_path, index=False)

print("CSV file has been cleaned, Population column converted to float64, and saved to the existing file:", file_path)

CSV file has been cleaned, Population column converted to float64, and saved to the existing file: /Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_us_population.csv

In [20]:
df_pop.dtypes

State         object
Population     int64
dtype: object

Cleaning Guns CSV

In [21]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Stephen/database/csv_clean_up_4_db/clean_guns.csv'  
df_guns = pd.read_csv(file_path)

In [22]:
df_guns.dtypes

State                          object
Lat                           float64
Long_                         float64
2023 Total Estimated Sales      int64
Guns Per Capita               float64
dtype: object

In [23]:
df_guns.head(
    
)

        State      Lat     Long_  2023 Total Estimated Sales  Guns Per Capita
0     Alabama  32.3182  -86.9023                      487077             9.53
1      Alaska  61.3707 -152.4044                       80341            10.95
2     Arizona  33.7298 -111.4312                      407288             5.48
3    Arkansas  34.9697  -92.3731                      200279             6.53
4  California  36.1162 -119.6816                     1043421             2.68

Military Base CSV

In [3]:
import pandas as pd

# Load the CSV file
file_path = '/Users/stephenloucel/Desktop/DataClass/Classwork/Project-3/Final Data/database/csv_clean_up_4_db/clean_military_bases.csv'  
df_military = pd.read_csv(file_path)

In [4]:
df_military.head()

,COUNTRY,State Terr,Lat,Long,COMPONENT,Site Name,Joint Base,Oper Stat,OBJECTID_1,OBJECTID,PERIMETER,AREA,Shape_Leng,Shape_Area
0,United States,Alabama,31.230999,-85.650635,Army Active,Allen Stagefield AL,NaN,Active,26,65,1.641383,0.176575,3170.633316,6.274240e+05
1,United States,Alabama,31.815733,-85.649799,Army Active,Louisville Stagefield AL,NaN,Active,33,73,1.723380,0.162357,3357.487241,5.840968e+05
2,United States,New Mexico,33.159464,-106.425696,Army Active,White Sands Missile Range NM,NaN,Active,66,261,332.133189,3548.570164,648984.100400,1.315079e+10
3,United States,Virginia,37.013020,-76.304376,Army Active,Fort Monroe,NaN,Inactive,114,899,10.209688,0.877233,21033.880110,3.570033e+06
4,United States,Hawaii,21.386628,-157.905641,MC Active,MCB Camp Smith,NaN,Active,161,1237,2.931885,0.331246,5098.778436,9.944004e+05

In [5]:
# Rename the column
df_military.rename(columns={'State Terr': 'State'}, inplace=True)

# Save the DataFrame back to the same CSV file
df_military.to_csv(file_path, index=False)

print("Column renamed and file saved successfully.")

Column renamed and file saved successfully.